<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <script>
      function togglePassword() {
        let pswd = document.getElementById("password");
        if (pswd.getAttribute("type") === "password") {
          pswd.setAttribute("type", "text");
          document
            .getElementById("toggle")
            .setAttribute("class", "fa fa-eye-slash");
        } else {
          pswd.setAttribute("type", "password");
          document.getElementById("toggle").setAttribute("class", "fa fa-eye");
        }
      }
    </script>
  </head>
  <body>
    <main class="container">
      <div class="left">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player
          src="https://assets5.lottiefiles.com/packages/lf20_d7uvq2w6.json"
          background="transparent"
          speed="1"
          style="width: 755px; height: auto"
          loop
          autoplay
        ></lottie-player>
      </div>
      <div class="right">
        <div class="logo" style="display: none">
          <img src="{% static 'images/Logo.png' %}" alt="" srcset="" />
        </div>
        <div class="top">
          <div class="wel">Welcome</div>
          <div class="sign">Sign in to QR Gen</div>
        </div>
        <div class="bottom">
          <div class="bottom-top">
            <button>
              <img style="margin-right: 5px" src="{% static 'images/gg.png' %}" alt="" srcset="" />
              Sign in with Google
            </button>
          </div>
          <div class="bottom-top">
            <button>
              <img style="margin-right: 5px" src="{% static 'images/fb.png' %}" alt="" srcset="" />
              Sign in with Facebook
            </button>
          </div>
          <div class="middle">
            <img src="OR divider.png" alt="OR" srcset="" />
          </div>
          <form method="POST" name="form" onsubmit="validate()">
            <div class="bottom-last">
              <div class="input-box">
                <label for="email">Email</label>
                <input
                  type="text"
                  name="email"
                  id="email"
                  placeholder="AnjolaAkinosun@gmail.com"
                  required
                />
              </div>
              <div class="input-box">
                <label for="password">Password</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="************"
                  required
                />
                <span
                  class="fa fa-eye"
                  id="toggle"
                  onclick="togglePassword()"
                ></span>
              </div>
            </div>
            <div class="last">
              <button type="submit">SIGN IN</button>
              <p>Don't have an account? <a href="#">Register</a></p>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
