<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src=""></script>
<link rel="stylesheet" href="signup.css">

<body>
    <main>
        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_d7uvq2w6.json" background="transparent" speed="1" style="width: 770px; height: 1024px;" loop controls autoplay></lottie-player> 

        <div class="info">
            <h1>Register to QR GEN</h1>
            <p>Complete your registration and create your QR code</p>
        <form action="" class="login">
                <div>
                    <label for="fname">Full Name</label>
                    <input type="text" name="fname" id="fname" placeholder="Anjola Akinosun" required>
                </div>

                <div>
                    <label for="email">Email </label>
                    <input type="email" name="email" id="email" placeholder="AnjolaAkinosun@gmail.com" required>
                </div> 

                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="" required>
                </div>
                <ul>
                    <li>Mininmum of 8 characters</li>
                    <li>Must contain an uppercase</li>
                    <li>Must be Alphanumeric</li>
                </ul>

                <div>
                    <label for="cpassword">Confirm Password</label>
                    <input type="password" name="password" id="password">
                </div>

                <button type="submit">SUBMIT</button>
            
                <h6>Already have an account? Sign in</h6>
        </div>
        </form>
    </main>
</body>
</html>