{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Register
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    </head>
    <body>
        <section class="signup-section">
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_dea7f8zx.json"  background="transparent"  speed="1"  style="width: 770px; height: 1024px;"  loop  autoplay></lottie-player>

            <div class="info">
                <section class="frame1">
                    <h3>Register to QR GEN</h3>
                    <p>Complete your registration and create your QR code</p>
                </section>
                <section class="frame2">
                    <form method="post" class="login-form">
                        {% csrf_token %}
                        <div class="signup-group">
                            <label for="full_name">Full Name</label>
                            {% render_field form.full_name id="full_name" class="form-signup" placeholder="Anjola Akinosun" type="text" %}
                            <!-- <input type="text" name="fname" id="fname" placeholder="Anjola Akinosun" required> -->
                        </div>

                        <div class="signup-group">
                            <label for="email">Email
                            </label>
                            {% render_field form.email id="email" class="form-signup" placeholder="AnjolaAkinosun@gmail.com" type="email" %}
                            <!-- <input type="email" name="email" id="email" placeholder="AnjolaAkinosun@gmail.com" required> -->
                        </div>

                        <div class="signup-group">
                            <label for="password1">Password</label>
                            {% render_field form.password1 id="password1" class="form-signup" placeholder="Password" type="password" %}
                            <!-- <input type="password" name="password" id="password" placeholder="" required> -->
                        </div>
                        <ul>
                            <li>Mininmum of 8 characters</li>
                            <li>Must contain an uppercase</li>
                            <li>Must be Alphanumeric</li>
                        </ul>

                        <div class="signup-group">
                            <label for="password2">Confirm Password</label>
                            {% render_field form.password2 id="password2" class="form-signup" placeholder="Confirm Password" type="password" %}
                            <!-- <input type="password" name="password" id="password"> -->
                        </div>

                        <button type="submit">SUBMIT</button>
                    </form>

                    <h6>Already have an account?<a href="{% url 'accounts:login' %}">Sign in</a></h6>
                </section>
            </div>
        </section>
    </body>
</html>
