{% extends "base.html" %} {% load static %} {% block content %}
<section class="genPage-section">
  <!-- section1 -->
  <div class="genPage-container">
    <div class="centralize-content">
      <img class="gen-logo" src="{% static 'images/logo.png' %}" alt="logo" />
    </div>
    <div class="gen-container-flex">
      
      <div class="inner-icon-message">
       <div class="align-widthin">
        <img src="{% static 'images/clock.png' %}" alt="clock" />
        <span class="icon-message"
          >Generate your QR code in under 45 seconds</span
        >
       </div>
      </div>
      <div class="inner-icon-message">
       <div class="align-widthin">
        <img src="{% static 'images/scan.png' %}" alt="scan" />
        <span class="icon-message">Unlimited use of our QR code scanner</span>
       </div>
      </div> </div></div>
      <div role="heading centralize-content">
        <p class="sub-heading">Style your code</p>
      </div>
   
    <!-- end of section1 -->
    <!-- section2 -->
    <div class="gen-heading" role="heading">Shape</div>
    <div class="gen-section2">
      <div class="shape-container">
        <div class="shapes-title">
          <span>Modular Shape</span>
        </div>
        <div class="gen-shapes">
          <div class="genbox-columnA" id="root-shap1">
            <div class="genbox-columnA-inner"></div>
          </div>
          <div class="genbox-columnB" id="root-shap2">
            <div class="genbox-columnB-inner"></div>
          </div>
          <div class="genbox-columnC" id="root-shap3">
            <div class="genbox-columnC-inner"></div>
          </div>
          <div class="genbox-columnD"id="root-shap4" >
            <div class="genbox-columnD-inner"></div>
          </div>
        </div>
        <div class="shapes-title">
          <span>Eye Ball Shape</span>
        </div>
        <div class="gen-shapes">
          <div class="genbox-columnC">
            <div class="genbox-columnC-inner"></div>
          </div>
          <div class="genbox-columnD">
            <div class="genbox-columnD-inner"></div>
          </div>
        </div>
        <div class="shapes-title">
          <span>Code Shape</span>
        </div>
        <div class="gen-shapes">
          <div class="genbox-1"></div>
          <div class="genbox-1-circle"></div>
        </div>
        <div class="shapes-title">
          <span></span>
        </div>
      </div>
      <div class="qr-container changer1">
       <div class="first-qr-container">
        <img
        src="{% static 'images/Qr-image.png' %}"
        alt=""
        srcset=""
        class="gen-img"
      />
       </div>
      </div>
    </div>
    <!-- section3 -->
    <div class="gen-heading" role="heading">Color</div>
    <div class="gen-section2">
      <div class="shape-container">
        <div class="color-shapes">
          <span class="color-box" >
            <div class="inner-boxA"></div>
            <div class="inner-boxB"></div>
          </span>
          <div class="color-boxB">
            <div class="inner-box-innerB"></div>
            <div class="inner-box-innerB2"></div>
          </div>
          <div class="color-boxC">
            <div class="inner-box-innerC"></div>
            <div class="inner-box-innerC2"></div>
          </div>
        </div>

        <div class="color-shapes">
          <div class="color-boxD">
            <div class="inner-boxD"></div>
            <div class="inner-boxD2"></div>
          </div>
          <div class="color-boxE">
            <div class="inner-boxE"></div>
            <div class="inner-boxE2"></div>
          </div>
          <div class="color-boxF">
            <div class="inner-boxF"></div>
            <div class="inner-boxF2"></div>
          </div>
        </div>

        <div class="shapes-title">
          Color Code
          <div class="input-filed-color">
            dcsdcsdcsdcsdc
            
          </div>
        </div>
        <div class="shapes-title-bottom">
          
          <div checkbox='checkbox-container'>rfvsdsdvsd</div>
          Transperent
        </div>
      </div>
      <div class="qr-container changer2">
        <div class="inner-qr-container">
          <img
          src="{% static 'images/Qr-image.png' %}"
          alt=""
          srcset=""
          class="gen-img"
        />
        </div>
      </div>
    </div>
    <!-- section4  -->
    <div class="gen-heading" role="heading">Add a Logo</div>
    <span class="">the logo will appear at the center of your qr code</span>
    <div class="drag-section">
      <input type="file" name="upload" id="upload-file" hidden />
      <label for="upload-file" id="files">
        <img src="{% static 'images/ddrag.png' %}" alt="upload" class="ddrop"
      /></label>
      <label for="upload-file" id="upload-text">Drag & Drop a file here</label>
      <label class="upload-subtitle"> JPEG,PNG files are accepted </label>
    </div>
    <div class="spacer">
      <button class="nav-signin">
        <a style="color:white" href="{% url 'index' %}" class="nav-log">DOWNLOAD OR SHARE</a>
      </button>
     
    </div>
    <!-- end of section4 div  -->
  </div>
</section>

{% endblock %}
