{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content-main">
    <div class="hidden hidden-greet" style="display:none;">
        <p>Good Morning,
            <span>
                <strong>Michael</strong>
            </span>
        </p>
    </div>
    <aside class="left-pane">
        <img class="qr-image" src="{% static 'images/qr-image-1.png' %}" alt="">
        <div class="create-qr">
            <button type="button" onclick="location.href='#'">CREATE QR. CODE</button>
        </div>
        <div class="qr-type">
            <p>Social media</p>
        </div>
        <div class="link-content">
            <h6>Link to Twitter Profile</h6>
        </div>
        <div class="edit-code">
            <button type="button" onclick="location.href='#'">Edit Code</button>
        </div>
        <div class="download-code">
            <button type="button" onclick="location.href='#'">Download Code</button>
        </div>
        <table class="total-table">
            <tr>
                <th>
                    <h6>Total</h6>
                </th>
            </tr>
            <tr>
                <td class="number-gen">
                    <p>Total Number of code created</p>
                    <h6>12</h6>
                </td>
            </tr>
        </table>
        <button class="reset-button" type="reset">
            Reset Number
        </button>
    </aside>
    <div class="hidden hidden-num" style="display:none;">
        <p>Total Number of Codes Created:
            <span>12</span>
        </p>
    </div>
    <section class="mid-pane">
        <div class="greet show">
            <h2>Good Morning,
                <span>Micheal</span>
            </h2>
        </div>
        <table class="code-history">
            <tr>
                <th>
                    <h6>Your Codes history</h6>
                </th>
            </tr>
            <tr>
                <td>
                    <div class="code-list" style="overflow-y: scroll;">
                        <div class="code-detail">
                            <img src="{% static 'images/qr-image-2.png' %}" alt="">
                            <div class="detail-content">
                                <p class="qr-type">Social media</p>
                                <h5>Link to Twitter Profile</h5>
                                <p class="created">
                                    <span>Created:</span>
                                    22 Jun 2022
                                </p>
                                <p class="link">www.twitter.com/myprofile/</p>
                            </div>
                        </div>
                        <div class="code-detail">
                            <img src="{% static 'images/qr-image-2.png' %}" alt="">
                            <div class="detail-content">
                                <p class="qr-type">Email</p>
                                <h5>Send an Email</h5>
                                <p class="created">
                                    <span>Created:</span>
                                    12 Jun 2022
                                </p>
                                <p class="link">www.twitter.com/myprofile/</p>
                            </div>
                        </div>
                        <div class="code-detail">
                            <img src="{% static 'images/qr-image-2.png' %}" alt="">
                            <div class="detail-content">
                                <p class="qr-type">Phone number</p>
                                <h5>My mobile number</h5>
                                <p class="created">
                                    <span>Created:</span>
                                    11 Jun 2022
                                </p>
                                <p class="link">www.twitter.com/myprofile/</p>
                            </div>
                        </div>
                        <div class="code-detail">
                            <img src="{% static 'images/qr-image-2.png' %}" alt="">
                            <div class="detail-content">
                                <p class="qr-type">Phone number</p>
                                <h5>My mobile number</h5>
                                <p class="created">
                                    <span>Created:</span>
                                    11 Jun 2022
                                </p>
                                <p class="link">www.twitter.com/myprofile/</p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </section>
    <button type="reset" class="hidden reset" style="display:none;">Reset Number</button>
    <aside class="right-pane">
        <div class="todays-date">
            <img src="{% static 'images/calendar.svg' %}" alt="">
            <p>23 July 2022</p>
        </div>
        <img class="undraw" style="width:388px; height:340px;"
            src="{% static 'images/undraw_projections_re_ulc6.png' %}" alt="">
        <img class="question" style="width:388px; height:340px;" src="{% static 'images/message-question.svg' %}"
            alt="">
        <div class="customer-serv">
            <h4>Any problem ?</h4>
            <button style="margin:auto ;" type="button" onclick="location.href='#'">Customer Service</button>
        </div>
    </aside>
</div>
{% endblock content %}