*,body, main ,::before, ::after {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
}

body, html{
    height: 100%;
    background-color: #ffffff;
}
.hero-image{
    height: 40%;
}
.contact__image {
    z-index: 1;
}

.hero-text{
    position: absolute;
    top: 30%;
    padding-left: 6%;
    z-index: 99999;
    left: 25%;
    transform: translate(-30%, -30%);
    color: #ffffff;
    font-size: 700;
    padding-bottom: 0%;
    width:30% ;
}

.hero-text h1 {
    font-size: 64px;
    margin-bottom: 24px;
}
.hero-text p {
    font-size: 24px;
    line-height: 150%;
    width: 85%;
}

.message__container{
    background: #ffffff;
    display: flex;
    width: 60%;
    height: 690px;
    margin: 0 auto;
    margin-top: -200px;
    margin-bottom: 120px;
}

.message__container .left-col{
    flex-basis: 62%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 32px;
    background-color: white;
    box-shadow: 5px 13px 14px 1px rgba(0,0,0,0.3);
    color: #000000;
}

.message__container .left-col h3{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    width: 204px;
    margin-bottom: 24px;
}
.message__container .left-col input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 22px 20px;
    margin: 17px 0 32px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
  }

.message__container .left-col .submit button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    width: 98px;
    height: 56px;
    background: #4959E9;
    border-radius: 8px;
    border: 1px solid #4959E9;
    color: white;
}

.message__container .right-col{
    flex-basis: 38%;
    background: #A4ACF4;
    padding: 32px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 5px 13px 14px 1px rgba(0,0,0,0.3);
}

.message__container .right-col .contact-info{
   font-weight: 700;
   font-size: 26px;
   line-height: 39px;
   border-width: 253px;
   margin-bottom: 32.5px;
}

.message__container .right-col .phone{
    margin-top: 0.5px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.25px;
    line-height: 23px;
    border-width: 130px;
    height: 30px;
    margin-bottom: 20px;
}

.message__container .right-col .phone .iconify {
    float:left;
    font-size: 25px;
    margin-right: 14px;
}
.message__container .right-col .phone .phone__number {
    float: left;
    font-size: 18px;
}

.message__container .right-col .email{
    margin-top: 0.5px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.25px;
    height: 30px;
    border-width: 186px;
    margin-bottom: 32.5px;
}

.message__container .right-col .email .iconify{
    float:left;
    font-size: 25px;
    margin-right: 14px;  
}
.message__container .right-col .email .email__address{
    float: left;
    font-size: 18px;
}
.message__container .right-col .icons {
    display: flex;
}
.message__container .right-col .icons .iconify{
    height: 24px;
    width: 34px;
    color: #000;
}
.message__container .right-col .contact-map{
    margin-top: 139px;
}
.message__container .right-col .contact__map {
    text-align: center;
}

