{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
   <section>
    <div class='error-container'>
        <div class="error-404-message">
            <h1 class="oops-message">Oops</h1>
        </div>
        <div>
            <div class="status-message">404 - PAGE NOT FOUND</div>
            <P class="inner-error-404">
                This page you are looking for might have have been remove had <br> 
                its name name changed or temporarily unavailable
            </P>
        </div>
        <div class="error-404-button">
            <a href="" >GO TO HOMEPAGE</a>
        </div>
    </div>
   </section>
