{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <title>{% block title %}QR code generator{% endblock %}</title>
</head>
<body>
    <header>
        <h1>welcome to qrcode scanner</h1>
    </header>
   <main>
    {% block content %}

    {% endblock content %}
   </main>
   <footer>
    <h1>
        footer
    </h1>
   </footer>
</body>

</html>