<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,700;1,200&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'datatypestyle.css' %}" />

    <link rel="shortcut icon" href="" type="image/x-icon" />
    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'custom.js' %}"></script>

    <title>{% block title %}QR code generator{% endblock %}</title>
  </head>

  <body>
    <header>
      <nav>
        <img class="logo" src="{% static 'images/logo.png' %}" alt="logo" />
        <label for="btn" class="icon">
          <span class="iconify" data-icon="fa6-solid:bars"></span>
        </label>
        <input type="checkbox" id="btn" />
        <ul>
          <li><a class="show1" href="{%url 'index' %}">HOME</a></li>
          <li><a class="show1" href="{%url 'about' %}">ABOUT US</a></li>
          <li><a class="show1" href="{%url 'contact-us' %}">CONTACT US</a></li>
          <li><a class="show1" href="{%url 'faq' %}">RESOURCES</a></li>
          <li><a class="show1" href="{%url 'dashboard' %}">PRODUCT</a></li>
          <li>
            <a class="show2" href="{%url 'index' %}"
              ><span class="iconify" data-icon="eva:home-outline"></span>
              Home</a
            >
          </li>
          <li>
            <a class="show2" href="{%url 'about' %}"
              ><span class="iconify" data-icon="bx:purchase-tag"></span> About
              Us</a
            >
          </li>
          <li>
            <a class="show2" href="{%url 'contact-us' %}"
              ><span class="iconify" data-icon="carbon:phone-outgoing"></span>
              Contact Us</a
            >
          </li>
          <li>
            <a class="show2" href="{%url 'faq' %}"
              ><span
                class="iconify"
                data-icon="ic:round-question-answer"
              ></span>
              Resources</a
            >
          </li>
          <li>
            <a class="show2" href="#"
              ><span class="iconify" data-icon="bi:qr-code"></span> Product</a
            >
          </li>
          <!-- end of mobile view -->
          <div class="subnav">
          {% if user.is_authenticated %}
          <span class="nav-log">
          {{ user.full_name }}!
          </span>
          <button class="nav-login">
            <a class="nav-log"  href="{% url 'accounts:logout' %}">Log Out</a>
          </button>
          {% else %}
         
            <button class="nav-login">
              <a class="nav-log" href="{% url 'accounts:login' %}">SIGN IN</a>
            </button>
            <button class="nav-signin">
              <a class="nav-sign" href="{% url 'accounts:signup' %}"
                >REGISTER</a
              >
            </button>
          </div>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock content %}</main>
    <footer class="footer">
      <div class="social-icons">
        <a href="https://www.facebook.com/ingressiveforgood/"
          ><i
            class="iconify"
            data-icon="cib:facebook"
            data-width="50"
            data-height="50"
          ></i
        ></a>
        <a href="https://twitter.com/thezuriteam?lang=en"
          ><i
            class="iconify"
            data-icon="entypo-social:twitter-with-circle"
            data-width="50"
            data-height="50"
          ></i
        ></a>
        <a href="https://ng.linkedin.com/company/zuri-team"
          ><i
            class="iconify"
            data-icon="brandico:linkedin-rect"
            data-width="50"
            data-height="50"
          ></i
        ></a>
        <span></span>
      </div>
      <div class="social-icons2">
        <a href="https://www.facebook.com/ingressiveforgood/"
          ><i
            class="iconify"
            data-icon="cib:facebook"
            data-width="30"
            data-height="30"
          ></i
        ></a>
        <a href="https://twitter.com/thezuriteam?lang=en"
          ><i
            class="iconify"
            data-icon="entypo-social:twitter-with-circle"
            data-width="30"
            data-height="30"
          ></i
        ></a>
        <a href="https://ng.linkedin.com/company/zuri-team"
          ><i
            class="iconify"
            data-icon="brandico:linkedin-rect"
            data-width="30"
            data-height="30"
          ></i
        ></a>
        <span></span>
      </div>
      <div class="flex-footer">
        <div class="footer-section1">
          <img
            class="footer-logo"
            src="{% static 'images/logo.png' %}"
            alt="logo"
          />
          <p class="footer-p1">HAVE A QUESTIONS? SAY HELLO!</p>
          <a class="footer-li" href="#">Support@QR-GEN.com</a>
          <div class="footer-sub">
            <button class="footer-login">
              <a class="footer-log" href="#">SIGN IN</a>
            </button>
            <button class="footer-signin">
              <a class="footer-sign" href="#">REGISTER</a>
            </button>
          </div>
        </div>
        <div class="footer-section2">
          <ul class="footer-ul">
            <h2 class="footer-h2">Pages</h2>
            <li><a href="{%url 'index' %}">Homepage</a></li>
            <li><a href="{%url 'about' %}">About us</a></li>
            <li><a href="{%url 'contact-us' %}">Contact us</a></li>
            <li><a href="{%url 'faq' %}">FAQ</a></li>
            <li><a href="{%url 'dashboard' %}">Create Qr code</a></li>
          </ul>
        </div>
      </div>
      <div class="seprator">
        <hr class="footer-hr" />
      </div>
      <div>
        <p class="footer-p2">
          © QR GEN . All rights reserved. QR Code is a registered trademark of
          DENSO WAVE INCORPORATED
        </p>
      </div>
    </footer>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/9ec3a209f4.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'custom.js' %}"></script>
  </body>
</html>
