<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom Data Type</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  </head>
  <body>
    <header></header>
    <main>
      <div class="section1">
        <img
          src="Qr-logo.png"
          alt="logo"
          class="qr-logo"
          width="300px"
          height="300px"
        />
      </div>
      <div class="section2">
        <ul class="first">
          <li>
            <span
              class="iconify"
              data-icon="cil:clock"
              style="color: gray"
            ></span
            >Generate your QR code in under 45 seconds
          </li>
        </ul>
        <ul class="second">
          <li>
            <span
              class="iconify"
              data-icon="material-symbols:qr-code-scanner-rounded"
              style="color: gray"
            ></span
            >Unlimited use of our QR code scanner
          </li>
        </ul>
      </div>
      <div class="section3">
        <h3>Data Type</h3>
        <div class="container">
          <div class="box1">
            <div class="media">
              <h5>Popular</h5>
              <div class="media-content">
                <button>WEBSITE URL</button>
                <button>PDF FILE</button>
                <button>PLAIN TEXT</button>
                <button>SOCIAL LINK</button>
              </div>
              <h5>Social Links</h5>
              <div class="media-content">
                <button>YOUTUBE</button>
                <button>INSTAGRAM</button>
                <button>WHATSAPP</button>
                <button>FACEBOOK</button>
                <button>LINKEDIN</button>
                <button>TWITTER</button>
              </div>
              <h5>Business Links</h5>
              <div class="media-content">
                <button>PHONE NUMBER</button>
                <button>EMAIL ADDRESS</button>
              </div>
              <h5>File QR Codes</h5>
              <div class="media-content">
                <button>IMAGE FILE</button>
                <button>AUDIO</button>
                <button>VIDEO</button>
              </div>
            </div>
          </div>
        <div class="box2">
          <img src="Qr-image.png" alt="image" width="400px" height="400px" />
        </div>
      </div>
      </div>
    </main>
  </body>
</html>
