@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.logo{
    margin: 6rem;
}

.noth ul {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 199px;
    gap: 40px;
}

.noth li a{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 16px;
    letter-spacing: 1.25px;
    text-decoration: none;
    color: #000000;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-top: 25px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.subnav{
    display: flex;
}

li {
    list-style: none;
    text-decoration: none;

}

.li:active{
    color: #4959E9;
}

.nav-login {
    padding: 16px 24px;
    gap: 16px;
    border: 1px solid #4959E9;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-right: 10px;
}
.log{
    font-family: 'Josefin Sans', sans-serif;
    color: #000000;
    text-decoration: none;
}

.nav-signin{
    padding: 16px 24px;
    gap: 16px;
    margin-left: 10px;
    margin-right: -50px;
    background: #4959E9;
    border-radius: 8px;
    border: none;
}

.sign{
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

.footer{
    width: 100%;
    height: 600px;
    left: 0px;
    bottom: 0px;
    background-color: #A4ACF4;
    border-radius: 8px;
    font-family: 'Josefin Sans', sans-serif;
}

.social-icons{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: right;
    margin-left: 82%;
    height: 116px;
    margin-bottom: 44px;
    background: #DBDEFB;
    opacity: 0.8;
    box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.14);
    border-radius: 0px 0px 0px 8px;
}
.social-icons a{
    margin: 20px;
    padding-top: 10px;
    width: 75px;
    height: 70px;
    background: #8690F0;
    box-shadow: 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    color: #000000;
    text-decoration: none;
}

.social-icons2{
    position: relative;
    display: none;
    text-align: center;
    justify-content: right;
    margin-left: 82%;
    height: 116px;
    margin-bottom: 44px;
    background: #DBDEFB;
    opacity: 0.8;
    box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.14);
    border-radius: 0px 0px 0px 8px;
}
.social-icons2 a{
    margin: 20px;
    padding-top: 10px;
    width: 75px;
    height: 70px;
    background: #8690F0;
    box-shadow: 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    color: #000000;
    text-decoration: none;
}

.flex-footer{
    display: flex;
}
.footer-section1{
    margin-left: 90px;
}
.footer-logo{
    width: 150px;
    height: 150px;
}
.footer-p1{
    width: 411px;
    height: 39px;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 0px;
}
.footer-li{
     color: #000000;
}
.footer-sub{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
}
.footer-login{
    font-family: 'Josefin Sans', sans-serif;
    padding: 16px 24px;
    gap: 16px;
    border: 1px solid #4959E9;
    border-radius: 8px;
    background-color: #A4ACF4;
    margin-right: 10px;
}
.footer-log{
    font-family: 'Josefin Sans', sans-serif;
    color: #000000;
    text-decoration: none;
}

.footer-signin{
    font-family: 'Josefin Sans', sans-serif;
    padding: 16px 24px;
    gap: 16px;
    margin-left: 10px;
    margin-right: -50px;
    background: #4959E9;
    border-radius: 8px;
    border: none;
}
.footer-sign{
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-ul li a{
    text-decoration: none;
    color: #000000;
    
}
.footer-h2{
    margin-top: -20px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 45px;
    line-height: 150%;
    letter-spacing: 0.25px;
}
.footer-ul{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 250%;
    margin-left: 750px;
}
hr{
    width: 90%;
    margin-bottom: 50px;
}
.footer-p2{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.4px;
}

    @media screen and (max-width: 450px) {
        .toggle-button{
            display: flex;
        }
        
        .noth{
            display: none;
            z-index: 10;
            top: 0;
            width: 100%;
            height: 100%;
            /* margin-top: 4%; */
        }

        .header{
            flex-direction: column;
            align-items: flex-start;
            height: 90px;
        }

        .logo{
            margin: 1rem;
            width: 60px;
            height: 60px;
            margin-left: 40px;
        }

        .noth ul{
            width: 100%;
            flex-direction: column;
            margin-right: 0px;
            background-color: #FFFFFF;
        }

        .noth.active{
            display: flex;
        }

        .footer{
            height: 80%;
        }

        .social-icons{
            display: none;
        }
        .social-icons2{
            display: flex;
            margin-left: 45%;
            height: 70px;
            margin-bottom: 50px;
            background: #DBDEFB;
            opacity: 0.8;
            box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.14);
            border-radius: 0px 0px 0px 8px;
        }
        .social-icons2 a{
            margin: 10px;
            height: 50px;
        }

        .flex-footer{
            flex-direction: column;
        }

        .footer-logo{
            width: 120px;
            height: 120px;
        }

        .footer-p1{
            font-weight: 500;
            font-size: 18px;
            height: 20px;
        }

        .footer-h2{
            font-size: 30px;
            margin-top: 20px;
        }

        .footer-li{
            font-size: 11;
        }

        .footer-login{
            padding: 20px 35px;
        }
        .footer-signin{
            padding: 20px 35px;
        }

        .footer-log{
            color: #000000;
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
        }
        .footer-sign{
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
        }

        .footer-section1{
            margin-left: 40px;
        }
        .footer-section2{
            margin-left: 0px;
            padding-left: 0px;
        }
        .footer-ul{
            margin: 0;
            font-size: 15px;
            letter-spacing: 0.5px;
            margin-top: 20px;
        }
        .footer-hr{
            display: none;
        }
        .footer-p2{
            text-align: center;
            line-height: 20px;
            margin-left: 55px;
            margin-right: 55px;
            margin-top: 30px;
        }

    }
