{% extends "base.html" %} {% load static %} {% block content %}
<section class="gen-section">
    <!-- section1 -->
    <div>
        <div class="gen-container-flex">
            <div class="logo-image">
                <img class="logo" src="{% static 'images/logo.png' %}" alt="logo" />
            </div>
            <div class="inner-icon-message">
                <div>
                    <span> <img src="{% static 'images/clock.png' %}" alt="clock" /></span>
                    <span class="icon-message">Generate your QR code in under 45 seconds</span>
                </div>

                <div>
                    <span> <img src="{% static 'images/scan.png' %}" alt="scan" /></span>
                    <span class="icon-message">Unlimited use of our QR code scanner</span>
                </div>
            </div>
            <div role="heading">
                <p class="sub-heading">Style your code</p>
            </div>
        </div>
        <!-- end of section1 -->
        <!-- section2 -->
        <div class="gen-heading" role="heading">Shape</div>
        <div class="gen-section2">
            <div class="shape-container">
                <div class="shapes-title">
                    <span>Modular Shape</span>
                </div>
                <div class="shapes">
                    <div class="box1"></div>
                    <div class="box1"></div>
                    <div class="box1"></div>
                </div>
                <div class="shapes-title">
                    <span>Eye Ball Shape</span>
                </div>
                <div class="shapes">
                    <div class="box1"></div>
                    <div class="box1"></div>
                    <div class="box1"></div>
                </div>
                <div class="shapes-title">
                    <span>Code Shape</span>
                </div>
                <div class="shapes">
                    <div class="box1"></div>
                    <div class="box1"></div>
                    <div class="box1"></div>
                </div>
            </div>
            <div class="qr-container">
                <img src="{% static 'images/Qr-image.png' %}" alt="" srcset="" class="gen-img" />
            </div>
        </div>
        <!-- section3 -->
        <div class="gen-heading" role="heading">Color</div>
        <div class="gen-section2">
            <div class="shape-container">
                <div class="shapes-title">
                    <span>Code Shape</span>
                </div>
                <div class="color-shapes">
                    <span class="color-box">
                        <div class="inner-boxA"></div>
                        <div class="inner-boxB"></div>
                      
                       
                    </span>
                    <div class="color-box">
                        <div class="inner-boxA"></div>
                        <div class="inner-boxB"></div>
                        
                    </div>
                    <div class="color-box">
                        <div class="inner-boxA"></div>
                        <div class="inner-boxB"></div>
                    </div>
                </div>
                <div class="shapes-title">
                    <span>Code Shape</span>
                </div>
                <div class="color-shapes">
                    <div class="color-box">
                        <div class="inner-boxA"></div>
                        <div class="inner-boxB"></div>
                    </div>
                    <div class="color-box">
                        <div class="inner-boxA"></div>
                        <div class="inner-boxB"></div>
                    </div>
                    <div class="color-box">
                        <div class="inner-boxA"></div>
                        <div class="inner-boxB"></div>
                    </div>
                  
                </div>
              
                <div class="shapes-title">
                    <input type="checkbox" name="checkbox" id="" class="color-checkbox">   Transperent
                </div>
                <div class="shapes-title">
                       Color Code <br>
                      <div>
                        <input type="text" name="" id="">
                      </div>
                </div>
            </div>
            <div class="qr-container">
                <img src="{% static 'images/Qr-image.png' %}" alt="" srcset="" class="gen-img" />
            </div>
           
        </div>
    </div>
</section>

<section class="gen-section">
 <div>
    
    <h1 class="shapes-title"> Add a logo</h1>
    <div class="drag-drop-info">
        the logo will appear at the center of your qr code
       <div class="drag-section">
         <div class="drag-drop">
             <img src="{% static 'dragNdrop.png" alt="">
             
                 <input type="file" name="upload" id="">
                 <p>click to upload</p>
            </div>
       </div>
     </div>
 </div>   

</section>

{% endblock %}