{% extends "base.html" %} {% load static %} {% block content %}
<section class="gen-section">
  <!-- section1 -->
  <div>
    <div class="gen-container-flex">
      <div class="logo-image">
        <img class="gen-logo" src="{% static 'images/logo.png' %}" alt="logo" />
      </div>
      <div class="inner-icon-message">
        <img src="{% static 'images/clock.png' %}" alt="clock" />
        <span class="icon-message"
          >Generate your QR code in under 45 seconds</span
        >

        <img src="{% static 'images/scan.png' %}" alt="scan" />
        <span class="icon-message">Unlimited use of our QR code scanner</span>
      </div>
      <div role="heading">
        <p class="sub-heading">Style your code</p>
      </div>
    </div>
    <!-- end of section1 -->
    <!-- section2 -->
    <div class="gen-heading" role="heading">Shape</div>
    <div class="gen-section2">
      <div class="shape-container">
        <div class="shapes-title">
          <span>Modular Shape</span>
        </div>
        <div class="shapes">
          <div class="box1"></div>
          <div class="box1"></div>
          <div class="box1"></div>
        </div>
        <div class="shapes-title">
          <span>Eye Ball Shape</span>
        </div>
        <div class="shapes">
          <div class="box1"></div>
          <div class="box1"></div>
          <div class="box1"></div>
        </div>
        <div class="shapes-title">
          <span>Code Shape</span>
        </div>
        <div class="shapes">
          <div class="box1"></div>
          <div class="box1"></div>
          <div class="box1"></div>
        </div>
      </div>
      <div class="qr-container">
        <img
          src="{% static 'images/Qr-image.png' %}"
          alt=""
          srcset=""
          class="gen-img"
        />
      </div>
    </div>
    <!-- section3 -->
    <div class="gen-heading" role="heading">Color</div>
    <div class="gen-section2">
      <div class="shape-container">
        <div class="color-shapes">
          <span class="color-box">
            <div class="inner-boxA"></div>
            <div class="inner-boxB"></div>
          </span>
          <div class="color-box">
            <div class="inner-boxA"></div>
            <div class="inner-boxB"></div>
          </div>
          <div class="color-box">
            <div class="inner-boxA"></div>
            <div class="inner-boxB"></div>
          </div>
        </div>

        <div class="color-shapes">
          <div class="color-box">
            <div class="inner-boxA"></div>
            <div class="inner-boxB"></div>
          </div>
          <div class="color-box">
            <div class="inner-boxA"></div>
            <div class="inner-boxB"></div>
          </div>
          <div class="color-box">
            <div class="inner-boxA"></div>
            <div class="inner-boxB"></div>
          </div>
        </div>

        <div class="shapes-title">
          Color Code
          <div>
            <input type="text" name="" id="" class="color-code" />
          </div>
        </div>
        <div class="shapes-title">
          <input type="checkbox" name="checkbox" id="" class="color-checkbox" />
          Transperent
        </div>
      </div>
      <div class="qr-container">
        <img
          src="{% static 'images/Qr-image.png' %}"
          alt=""
          srcset=""
          class="gen-img"
        />
      </div>
    </div>

    <div class="drag-drop-container">
      <div class="gen-heading" role="heading">Add a logo</div>
      the logo will appear at the center of your qr code
      <div class="drag-drop-info"></div>
      <div class="drag-section">
        <div class="drag-drop">
          <img src="{% static 'images/ddrag.png' %}" alt="upload" />

          <input type="file" name="upload" id="upload-file" />
          
        </div>
        <label for="upload-file">Dag & Drop a file here</label>
      </div>
    </div>
  </div>
</section>

{% endblock %}
