
{% extends "base.html" %} 
{% load static %} 
{% block content %}

<div class="section1">
  <img
  src="{% static 'images/logo.png' %}"
    alt="logo"
    class="qr-logo"
    width="300px"
    height="300px"
  />
</div>
<div class="section2">
  <ul class="first">
    <li>
      <span
        class="iconify"
        data-icon="cil:clock"
        style="color: gray"
      ></span
      >Generate your QR code in under 45 seconds
    </li>
  </ul>
  <ul class="second">
    <li>
      <span
        class="iconify"
        data-icon="material-symbols:qr-code-scanner-rounded"
        style="color: gray"
      ></span
      >Unlimited use of our QR code scanner
    </li>
  </ul>
</div>
<div class="section3">
  <h3>Data Type</h3>
  <div class="container">
    <div class="box1">
      <div class="media">
        <h5>Popular</h5>
        <div class="media-content">
          <button class="button">WEBSITE URL</button>
          <button  class="button">PDF FILE</button>
          <button  class="button">PLAIN TEXT</button>
          <button  class="button">SOCIAL LINK</button>
        </div>
        <h5>Social Links</h5>
        <div class="media-content">
          <button  class="button">YOUTUBE</button>
          <button  class="button">INSTAGRAM</button>
          <button  class="button">WHATSAPP</button>
          <button  class="button">FACEBOOK</button>
          <button  class="button">LINKEDIN</button>
          <button  class="button">TWITTER</button>
        </div>
        <h5>Business Links</h5>
        <div class="media-content">
          <button  class="button">PHONE NUMBER</button>
          <button  class="button">EMAIL ADDRESS</button>
        </div>
        <h5>File QR Codes</h5>
        <div class="media-content">
          <button  class="button">IMAGE FILE</button>
          <button  class="button">AUDIO</button>
          <button  class="button">VIDEO</button>
        </div>
      </div>
    </div>
  <div class="box2">
    <img  src="{% static 'images/logo.png' %}" alt="image" width="400px" height="400px" />
  </div>
</div>
</div>
{% endblock %}

 