{% load static %}

<style>
    body{
        height: 1024px;
        width: 1440px;
        left: 19594px;
        top: -2688px;
        border-radius: 0px;
        overflow: auto;
    }
    main{
        box-sizing: border-box;
        position: absolute;
        width: 280px;
        height: 2774px;
        left: 700px;
        top: 118px;
        border: 1px dashed #9747FF;
        border-radius: 5px;
        }
    .group1{
        position: absolute;
        width: 216px;
        height: 216px;
        left: 32px;
        top: 32px;
        display: grid;
        display: grid;
        grid-template-areas: 
        '1 2'
        '3 4';
    }
    .group2{
        position: absolute;
        width: 216px;
        height: 216px;
        left: 32px;
        top: 322px;
        display: grid;display: grid;
        grid-template-areas: 
        '1 2'
        '3 4';
    }
    .group3{
        position: absolute;
        width: 216px;
        height: 216px;
        left: 32px;
        top: 574px;
        display: grid;
        display: grid;
        grid-template-areas: 
        '1 2'
        '3 4';
    }
    .group4{
        position: absolute;
        width: 216px;
        height: 216px;
        left: 32px;
        top: 814px;
        display: grid;
        display: grid;
        grid-template-areas: 
        '1 2'
        '3 4';
    }
    .group5{
        position: absolute;
        width: 216px;
        height: 216px;
        left: 32px;
        top: 1066px;
        display: grid;
        display: grid;
        grid-template-areas: 
        '1 2'
        '3 4';
    }
    .group6{
        position: absolute;
        width: 216px;
        height: 216px;
        left: 32px;
        top: 1356px;
        display: grid;
        display: grid;
        grid-template-areas: 
        '1 2'
        '3 4';
    }
    .group7{
        position: absolute;
        width: 216px;
        height: 216px;
        left: 32px;
        top: 1698px;
        display: grid;
        display: grid;
        grid-template-areas: 
        '1 2'
        '3 4';
    }
    .group8{
        position: absolute;
        width: 216px;
        height: 216px;
        left: 44px;
        top: 1988px;
        display: grid;
        display: grid;
        grid-template-areas: 
        '1 2'
        '3 4';
    }
    .group9{
        position: absolute;
        width: 216px;
        height: 216px;
        left: 32px;
        top: 2228px;
        display: grid;
        display: grid;
        grid-template-areas: 
        '1 2'
        '3 4';
    }
    .group10{
        position: absolute;
        width: 216px;
        height: 216px;
        left: 44px;
        top: 2480px;
        display: grid;
        display: grid;
        grid-template-areas: 
        '1 2'
        '3 4';
    }
    .prop1{
        color: #4959E9;
        grid-area: 1;


    }
        
</style>

<body>
    <main>
       <div class="group1">
        <div class="prop1">
            property1
        </div>
        <div class="prop2">
            property2
        </div>
        <div class="prop3">
            property3
        </div>
        <div class="prop4">
            property4
        </div>
       </div>

       <div class="group2">
        <div class="prop5">
            property1
        </div>
        <div class="prop6">
            property2
        </div>
        <div class="prop7">
            property3
        </div>
        <div class="prop8">
            property4
        </div>
       </div>

       <div class="group3">
        <div class="prop9">
            property1
        </div>
        <div class="prop10">
            property2
        </div>
        <div class="prop11">
            property3
        </div>
        <div class="prop12">
            property4
        </div>
       </div>

       <div class="group4">
        <div class="prop13">
            property1
        </div>
        <div class="prop14">
            property2
        </div>
        <div class="prop15">
            property3
        </div>
        <div class="prop16">
            property4
        </div>
       </div>

       <div class="group5">
        <div class="prop17">
            property1
        </div>
        <div class="prop18">
            property2
        </div>
        <div class="prop19">
            property3
        </div>
        <div class="prop20">
            property4
        </div>
       </div>

       <div class="group6">
        <div class="prop21">
            property1
        </div>
        <div class="prop22">
            property2
        </div>
        <div class="prop23">
            property3
        </div>
        <div class="prop24">
            property4
        </div>
       </div>

       <div class="group7">
        <div class="prop25">
            property1
        </div>
        <div class="prop26">
            property2
        </div>
        <div class="prop27">
            property3
        </div>
        <div class="prop28">
            property4
        </div>
       </div>

       <div class="group8">
        <div class="prop29">
            property1
        </div>
        <div class="prop30">
            property2
        </div>
        <div class="prop31">
            property3
        </div>
        <div class="prop32">
            property4
        </div>
       </div>

       <div class="group9">
        <div class="prop33">
            property1
        </div>
        <div class="prop34">
            property2
        </div>
        <div class="prop35">
            property3
        </div>
        <div class="prop36">
            property4
        </div>
       </div>

       <div class="group10">
        <div class="prop37">
            property1
        </div>
        <div class="prop38">
            property2
        </div>
        <div class="prop39">
            property3
        </div>
        <div class="prop40">
            property4
        </div>
       </div>

    </main>
</body>