{% extends "base.html" %}
{% load static %} 
{% block content %}
<section class="custom-section"> 
  <!-- section1 -->
  <div class="custom-container">
    <div class="logo-container">
      <div class="qr-logo">
          <img class="logo" src="{% static 'images/qr-gen-logo.png' %}" alt="logo" />
      </div>
      <div class="icon-content">
            <div><img src="{% static 'images/clock.png' %}" alt="clock"></div>
            <div class="message">Generate your QR code in under 45 seconds</div>

            <div><img src="{% static 'images/scan.png' %}" alt="scan"></div>
            <div class="message">Unlimited use of our QR code scanner</div>      
      </div>
    </div>
  </div>
    <!-- section2 -->
  <div class="data-heading">
    <h3>Data Type</h3>
  </div>
  <div class="custom-section2">
        <div class="media">
          <div class="media-container">
            <div class="media-title">
                <h5>Popular</h5>
            </div>
            <div>
              <form action="popular" class="media-content" method="post">
                {% csrf_token %}
                <button name="website-url">WEBSITE URL</button>
                <button name="pdf-file">PDF FILE</button>
                <button name="plain-text">PLAIN TEXT</button>
              </form>  
            </div>
            <div class="media-title">
                <h5>Social Links</h5>
            </div>
            <div>
                  <form class="media-content" action="social-links" method="post">
                    {% csrf_token %}
                    <button name="youtube">YOUTUBE</button>
                    <button name="instagram">INSTAGRAM</button>
                    <button name="whatsapp">WHATSAPP</button>
                    <button name="facebook">FACEBOOK</button>
                    <button name="linkedin">LINKEDIN</button>
                    <button name="twitter">TWITTER</button>
                  </form>
            </div>
            <div class="media-title">
                <h5>Business Links</h5>
            </div>
            <div>
              <form class="media-content" action="business-links" method="post">
                {% csrf_token %}
                <button name="phone-number">PHONE NUMBER</button>
                <button name="email-address">EMAIL ADDRESS</button>
              </form>
            </div>
            <div class="media-title">
                <h5>Predefined Message</h5>
            </div>
            <div>
              <form class="media-content" action="predefined-message" method="post">
                {% csrf_token %}
                <button name="pre-sms">PREDEFINED SMS</button>
                <button name="pre-email">PREDEFINED EMAIL</button>
              </form>
            </div>
        </div>
        </div>
        <div class="qr-code">
        <div class="qr-code-container">
          <img src="{% static 'images/Qr-image.png' %}" alt="code" srcset="" class="qr-image"/>
        </div>
        </div>
  </div>
</section>

<div class="qr-overlay" id="form05">
  <form action="" method="post" class="content-overlay animate">
    {% csrf_token %}
    <div class="img-container">
      <a href="{% url 'datatype' %}" class="close" title="Close Form">&times;</a>
      <img src="{% static 'images/qr-gen-logo.png' %}" alt="qr-gen logo" class="web-logo">
    </div>
    <div class="form-container">
        <label for="preemail-for-code">Email Address</label><br>
        <input type="email" name="preemail-for-code" id="qr-content" placeholder="AnjolaAkinosun@gmail.com" required><br>
        <label for="email-subject">Email Subject</label><br>
        <input type="text" name="email-subject" id="qr-content"><br>
        <label for="email-message">Message</label><br>
        <textarea name="email-message" id="qr-content"></textarea><br>
        <div class="btn-container">
          <button name="create" type="submit" class="btn-overlay">CREATE  &RightArrow;</button>
        </div>
    </div>
  </form>
</div>
{% endblock %}