{% load static %} 
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'style.css' %}" />

<section class="url-main-container genPage-section">
    <div class="url-section genPage-container">
      <div class="url-logo-container">
        <img src="{% static 'images/logo.png' %}" alt="" srcset="" />
      </div>
      <div class="url-input-container">
        <label for="url" class="url-gen-label">URL</label>
        <input
          type="url"
          name="url"
          id="url-link"
          class="url-input-link"
          placeholder="https://www.QR-Gen.com"
        />
      </div>
      <div class="error-404-button left-align">
        <a style="color: white" href="{% url 'index' %}"
          >Create <span class="right-arrow"> &RightArrow;</span>
        </a>
      </div>
    </div>
  </section>

