{% load static %}    
    <style>
        .section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;
            margin: 100px;
            background-color: #ffffff;
            orientation: landscape;
            font-family: 'Josefin Sans', sans-serif;
        }
        .iconify {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 15%;
            width: 15%;
            border: solid 1px;
            border-radius: 30px;
            border: none;
            background-color: rgb(28, 204, 28);
            padding: 2.5rem;
        }
        p {
            font-family: 'Inter', sans-serif;
            font-size: 24px;
            font-weight: 400px;
            text-align: center;
            margin-top: 40px;
        }
        button {
            background-color: blue;
            color: #ffffff;
            border-radius: 5px;
            border: none;
            padding: 0.8rem;
        }
        .button-container {
            display: grid;
            align-items: center;
            grid-template-columns: auto auto;
            gap: 20px;
        }
        .button-container button{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
        }
        /* media responsiveness */

        @media screen and (max-width: 479px) {
            p {
                font-size: 18px;
                margin-top: 20px;
                font-family: 'Josefin Sans', sans-serif;
            }
           .button-container button {
            font-size: 12px;
           } 
        }
        @media screen and (max-width: 425px) {
            .section .button-container {
                grid: none;
            }
            .section .icon-container {
                flex-direction: row;
            }
            .iconify {
                height: 25%;
                width: 25%;
                padding: auto;
            }
            button {
                line-height: 20px;
            }
            p {
                line-height: 25px;
            }
        }
    </style>
    <link rel="stylesheet" href="{% static 'share.css' %}"/>
</head>
<body>

    <script> 
      function model() {
        let modal = document.querySelector("#modal-box");
        modal.showModal()
      }
      function back() {
        let modal = document.querySelector("#modal-box");
        modal.close()
      }
    </script>

    <div class="section">
        <div class="icon-container">
            <span class="iconify" data-icon="clarity:success-line" style="color: white;" data-width="12"></span> 
            <p>Your <b>QR Code</b> has been generated, successfully</p>
        </div>
        <div class="button-container">
                <button>DESIGN QR CODE</button>
                <button onclick="model()">DOWNLOAD OR SHARE QR CODE</button>
        </div>
    </div>

    <dialog id="modal-box" class="modal">
      <div class="first" onclick="back()"><span>&leftarrow;</span>Back</div>
      <div class="middle">
        <img src="{% static 'images/qr-design.png' %}" style="width: 300px; height: 300px" alt="" />
        <p class=".par">Your <strong>QR Code</strong> is ready to be used!</p>
      </div>
      <div class="last">
        <div class="dropdown">
          <button class=".drop">DOWNLOAD</button>
          <div class="drop-content">
          <a href="#">JPEG <img src="{% static 'images/frame.png' %}" alt="JPEG" /></a>
          <a href="#">PNG <img src="{% static 'images/frame.png' %}" alt="PNG" /></a>
          <a href="#">SVG <img src="{% static 'images/frame.png' %}" alt="SVG" /></a>
          <a href="#">PDF <img src="{% static 'images/frame.png' %}" alt="PDF" /></a>
          </div>
        </div>
        <p class="or">OR</p>
        <div class="dropdown">
          <button class=".drop">SHARE</button>
          <div class="drop-content">
            <a href="#">Twitter <img src="{% static 'images/twitter.png' %}" alt="Twitter" /></a>
            <a href="#">Instagram <img src="{% static 'images/insta.png' %}" alt="Instagram" /></a>
            <a href="#">Whatsapp <img src="{% static 'images/whatsapp.png' %}" alt="Whatsapp" /></a>
            <a href="#">Facebook <img src="{% static 'images/fb2.png' %}" alt="Facebook" /></a>
            <a href="#">Email <img src="{% static 'images/email.png' %}" alt="Email" /></a>
            <a href="#">Copy URL <img src="{% static 'images/url.png' %}" alt="URL" /></a>
          </div>
        </div>
       </div>
      </div> 
    </dialog>

</body>
</html>
